@model CCSD_Job_Search.Models.Job

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Edit</h1>

<h4>Job</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="ClassCode" class="control-label"></label>
                <input asp-for="ClassCode" class="form-control" />
                <span asp-validation-for="ClassCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JobTitle" class="control-label"></label>
                <input asp-for="JobTitle" class="form-control" />
                <span asp-validation-for="JobTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JobCategory" class="control-label"></label>
                <input asp-for="JobCategory" class="form-control" />
                <span asp-validation-for="JobCategory" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JobFamily" class="control-label"></label>
                <input asp-for="JobFamily" class="form-control" />
                <span asp-validation-for="JobFamily" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Classification" class="control-label"></label>
                <input asp-for="Classification" class="form-control" />
                <span asp-validation-for="Classification" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TermsOfEmployment" class="control-label"></label>
                <input asp-for="TermsOfEmployment" class="form-control" />
                <span asp-validation-for="TermsOfEmployment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FLSAStatus" class="control-label"></label>
                <input asp-for="FLSAStatus" class="form-control" />
                <span asp-validation-for="FLSAStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PositionSummary" class="control-label"></label>
                <input asp-for="PositionSummary" class="form-control" />
                <span asp-validation-for="PositionSummary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EssentialDutiesAndResponsibilities" class="control-label"></label>
                <input asp-for="EssentialDutiesAndResponsibilities" class="form-control" />
                <span asp-validation-for="EssentialDutiesAndResponsibilities" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DistinguishingCharacteristics" class="control-label"></label>
                <input asp-for="DistinguishingCharacteristics" class="form-control" />
                <span asp-validation-for="DistinguishingCharacteristics" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KnowledgeSkillsandAbilities" class="control-label"></label>
                <input asp-for="KnowledgeSkillsandAbilities" class="form-control" />
                <span asp-validation-for="KnowledgeSkillsandAbilities" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PositionRequirements" class="control-label"></label>
                <input asp-for="PositionRequirements" class="form-control" />
                <span asp-validation-for="PositionRequirements" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DocumentsRequiredAtTimeOfApplication" class="control-label"></label>
                <input asp-for="DocumentsRequiredAtTimeOfApplication" class="form-control" />
                <span asp-validation-for="DocumentsRequiredAtTimeOfApplication" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExamplesOfAssignedWorkAreas" class="control-label"></label>
                <input asp-for="ExamplesOfAssignedWorkAreas" class="form-control" />
                <span asp-validation-for="ExamplesOfAssignedWorkAreas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExamplesOfEquipmentSupplies" class="control-label"></label>
                <input asp-for="ExamplesOfEquipmentSupplies" class="form-control" />
                <span asp-validation-for="ExamplesOfEquipmentSupplies" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WorkEnvironment" class="control-label"></label>
                <input asp-for="WorkEnvironment" class="form-control" />
                <span asp-validation-for="WorkEnvironment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedAt" class="control-label"></label>
                <input asp-for="CreatedAt" class="form-control" />
                <span asp-validation-for="CreatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpdatedAt" class="control-label"></label>
                <input asp-for="UpdatedAt" class="form-control" />
                <span asp-validation-for="UpdatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
